/* https://julia.na/ */
:root{
    /*colores*/
    --bitcoin-orange: #f7931a;
    --soft-orange: #FFE9D5;
    --secondary-blue: #2154e0;
    --soft-blue: #E7F5FF;
    --one-black: #201E1C;
    --black: #201E1C;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #fff;
    --warm-black: #282623;

}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'Julius Sans One', sans-serif;
    overflow-x: hidden;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    margin: 0;
    padding: 0;
    height: 5rem;
}

header img {
    position: absolute;
    margin-top: 3px;
    margin-left: calc(50% - 4rem);
    height: 4rem;
    width: auto;
}

header .headerleft {
    width: 50%;
}

header .headerleft a {
    background-color: var(--one-black);
    color: var(--bitcoin-orange);
    font-size: 25px;
    height: 70px;
    padding: 12px 20px;
}

header .headerleft span {
    font-size: 8px;
}

header .headerright {
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

header .headerright .headerRightMenu{
    list-style: none;
    width: 100%;
    line-height: 5rem;
    font-size: 8px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row; 
    font-weight: bold;
    margin-right: 20px;   
}

header .headerright .headerRightMenu li a {
    margin-left: 15px;
    text-decoration: none;
    color: var(--warm-black);
}

header .headerright .headerRightMenu li a:hover {
    color: #2154e0;
}

/*Second section Big picture*/
.bigpicture1 {
    display: flex;
    align-items: top;
    justify-content: center;
    width: 100vw;
    height: 45rem;
    top: 0;
    background-image: url("/src/img/FotoGrandeOptimizada.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.bigpicture1 div {
    padding: 1rem;
    margin-top: 4rem;
    margin-left: 0%;
    text-align: center;
}

.bigpicture1 div h2 {
    font-weight: normal;
    color: var(--secondary-blue);   
    font-weight: bold;
    font-size: 40px;
}

.bigpicture1 div p {
    text-align: center;
    padding-top: 1rem;
    font-family: 'Playfair Display', serif;;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 2;
    text-rendering: optimizeLegibility;
    color: rgba(255, 0, 0, 0.849);
}

/*Second section ends*/

/*About me section starts*/
.biographi {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.biographi div {
    text-align: center;
    width: 90%;
}

.biographi div h2{
    font-family: 'Julius Sans One', sans-serif;
    font-size: 3rem;
    text-align: center;
}

.biographi div p {
    text-align: center;
    padding-top: 10px;
    font-family: 'Playfair Display', serif;;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 2;
    text-rendering: optimizeLegibility;
}
/*About me section ends*/

/*Galery start*/
.bigpicture2 {
    width: 100vw;
    height: 30rem;
    background-color: black;
    text-align: center;
}

.bigpicture2 .picturesvideos {
    padding: 10px;
    height: 95%;
    display: flex;
    flex-direction: column;
}

.bigpicture2 h2 {
    color: #fff;
    padding-top: 3rem;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 3rem;
}

.bigpicture2 .picturesvideos .images {
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-top: 5rem;
    height: 50%;
    width: 90%;
}

.bigpicture2 .picturesvideos .images div img{
    height: 5rem;
    width: auto;
}

.bigpicture2 .picturesvideos .images div p {
    font-size: 10px;
    color: #E7F5FF;
    padding: 10px;
}
/*Galery ends*/

/*Work starts*/
.work {
    text-align: center;
    height: auto;
    width: 100vw;
}

.work_tittle {
    margin-bottom: 3rem;
}

.work_tittle h1 {
    color: var(--black);
    padding-top: 3rem;
    font-family: 'Julius Sans One', sans-serif;
    text-shadow: var(--black);
    font-size: 3rem;
}

.work_tittle p {
    padding-top: 2.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    font-family: 'Playfair Display', serif;;
    font-weight: normal;
    font-size: 0.5rem;
    line-height: 1;
    text-rendering: optimizeLegibility;
}

.courses_tittles {
    width: auto;
}

.courses_tittles iframe {
    height: 20px;
}
/*Work ends*/

/*Contact starts*/
.contact {
    width: 100vw;
    margin-top: 2rem;
    text-align: center;
    position: relative;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact .center {
    text-align: center;
    max-width: 700px;
    padding: 1rem 0.5rem;
    margin: 0 auto;
    position: relative;
}

.contact .center h2 {
font-size : 35px;
font-family:sans-serif;
margin-bottom: 1rem;
}

.contact .center hr {
margin-bottom: 1rem;
}


.contact .center p {
display: flex;
padding-top: 1rem;
flex-direction: column;
align-items: center;
}



.contact .center p a{
/*font-family: inherit;*/
color: #282623;
font-weight: bold;
font-family: 'Times New Roman', Times, serif;
font-size: 18px;
line-height: 1.6;
margin-bottom: 2 rem;
text-rendering: optimizeLegibility;
}

.contact .center p .icon_envelope {
content: url(../src/icons/email_envelop3.jpg);
height: 15px;
width: auto;
}

.social_media {
padding: 15px 15px;
width: 100%;
height: 30rem;
display: flex;
flex-direction: row;
}

.social_media .twitter_linkedin {
display: flex;
flex-direction: column;
justify-content: center;
margin: auto;
width: 30rem;
}

.social_media .facebook_instagram {
display: flex;
flex-direction: column;
justify-content: center;
margin: auto;
width: 30rem;
}

/*icons style*/
.twitter_icon {
content: url(../src/icons/twitter.png);
height: 30px;
width: auto;
margin: 15px;
}

.facebook_icon {
content: url(../src/icons/facebook.png);
height: 30px;
width: auto;
margin: 15px;
}

.instagram_icon {
content: url(../src/icons/instagram.png);
height: 30px;
width: auto;
margin: 15px;
}

.linkedin_icon {
content: url(../src/icons/linkedIn.png);
height: 30px;
width: auto;
margin: 15px;
}
/* icons_style ends*/

/*tittles style*/
.work {
    text-align: center;
    height: auto;
    width: 100%;
}

.work_tittle {
    margin-bottom: 5rem;
}

.work_tittle h1 {
    color: var(--black);
    padding-top: 5rem;
    font-family: 'Julius Sans One', sans-serif;
    text-shadow: var(--black);
    font-size: 4.8rem;
}

.work_tittle p {
    padding-top: 4rem;
    font-family: 'Playfair Display', serif;;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 2;
    text-rendering: optimizeLegibility;
}

.courses_tittles {
    width: auto;
}

.courses_tittles iframe {
    height: 25rem;;
}

.twitter_linkedin div {
    width: 20rem;
    margin: 15px 15px;
}

.facebook_instagram div {
    width: 20rem;
    margin: 10px 10px;
}

.twitter_linkedin div {
    align-self: center;
}

.facebook_instagram div {
    align-self: center;
}

.social_media div div h1 {
    font-size: 15px;
}


/*contact styles ends*/

/*Footers Styles*/
footer {
    width: 100vw;
    height: 5rem;
    background-color: #dfdfdf;
    text-align: center;
    position: relative;
    padding-top: 1.5rem;
}

footer p {
    font-size: 13px;
    margin: 0px;
    padding: 0px;
}

/*Contact ends*/